In [1]:
import pandas as pd
iris=pd.read_csv("C:/Users/TARUN SAMANTA/Desktop/Compressed/iris.csv")

In [14]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
x=iris[['PetalLengthCm']]

In [16]:
y=iris[['SepalLengthCm']]

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
dtr=DecisionTreeRegressor()

In [21]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [24]:
y_pred=dtr.predict(x_test)

In [25]:
y_test.head()

     SepalLengthCm
82             5.8
50             7.0
105            7.6
116            6.5
121            5.6

In [26]:
y_pred[0:5]

array([5.4, 6.3, 7.7, 6.8, 6.4])

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
mean_squared_error(y_test,y_pred)

0.1643340864835896